.alert-danger {
    border-color: #fca18b;
}

.alert-danger {
    background: transparent;
}

.alert {
    color: #fca18b;
}

.bg-info {
    background-color: #fff0ec;
}

.text-success {
    color: #fca18b;
}

.group_0 {
    color: transparent !important;
    background: url(https://i.loli.net/2019/10/28/Z3pH7DbLilhI1EF.png) no-repeat !important;
}

.authorinfo {
    color: #fca18b;
}

hr {
    background: #fca18b;
}

.title {
    color: #ffffff;
    background-color: #fca18b;
}

a {
    color: #f77759;
}

a:hover {
    color: #ff0000 !important;
}

center a:hover {
    color: #ff0000 !important;
}


.firstfloorlink {
    background-image: linear-gradient(90deg, rgba(255,139,110,1) 0%, rgba(233,150,62,1) 50%, rgba(255,139,110,1) 100%) !important;
    color: transparent !important;
    -webkit-background-clip: text !important;
    -moz-background-clip: text !important;
    -ms-background-clip: text !important;
}

.firstfloorlink a {
    background-image: linear-gradient(90deg, rgba(233,150,62,1) 0%, rgba(255,139,110,1) 50%, rgba(233,150,62,1) 100%) !important;
    color: transparent !important;
    -webkit-background-clip: text !important;
    -moz-background-clip: text !important;
    -ms-background-clip: text !important;
}

.heijin {
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 5%, rgba(238,97,35,1) 50%, rgba(0,0,0,1) 95%) !important;
    color: transparent !important;
    -webkit-background-clip: text !important;
    -moz-background-clip: text !important;
    -ms-background-clip: text !important;
}


/*头像*/

.image1 {
    background: url(https://i.loli.net/2019/10/27/5f32OBLpqN6UdCF.gif) no-repeat !important;
}

.image2 {
    background: url(https://i.loli.net/2019/03/18/5c8f580b1002c.jpg) no-repeat !important;
}

.image3 {
    background: url(https://i.loli.net/2019/03/18/5c8f580b0df2a.jpg) no-repeat !important;
}

.image4 {
    background: url(https://i.loli.net/2019/03/18/5c8f580b0c15c.jpg) no-repeat !important;
}

.image5 {
    background: url(https://i.loli.net/2019/03/18/5c8f580b0a828.jpg) no-repeat !important;
}

.image6 {
    background: url(https://i.loli.net/2019/03/18/5c8f580b06282.jpg) no-repeat !important;
}

.image7 {
    background: url(https://i.loli.net/2019/03/18/5c8f580b0438e.jpg) no-repeat !important;
}

.image8 {
    background: url(https://i.loli.net/2019/03/18/5c8f573f242f8.jpg) no-repeat !important;
}

.image9 {
    background: url(https://i.loli.net/2019/03/18/5c8f567593d43.jpg) no-repeat !important;
}

.image10 {
    background: url(https://i.loli.net/2019/03/18/5c8f567593df1.jpg) no-repeat !important;
}

.image11 {
    background: url(https://i.loli.net/2019/10/21/D7CUoyf129pF8cx.jpg) no-repeat !important;
}

.image12 {
    background: url(https://i.loli.net/2019/10/21/A8xWbFrw3kvtie2.jpg) no-repeat !important;
}

.image13 {
    background: url(https://i.loli.net/2019/10/21/VzIORX5LFNZsESn.jpg) no-repeat !important;
}

.image14 {
    background: url(https://i.loli.net/2019/10/21/NhLHruAlcX4BaFo.jpg) no-repeat !important;
}

.image15 {
    background: url(https://i.loli.net/2019/10/21/jinFzaBokrJyQug.jpg) no-repeat !important;
}

.image16 {
    background: url(https://i.loli.net/2019/03/18/5c8f573f27bf1.jpg) no-repeat !important;
}

.image17 {
    background: url(https://i.loli.net/2019/10/21/QMugivq9CU3Hd52.jpg) no-repeat !important;
}

.image18 {
    background: url(https://i.loli.net/2019/10/21/GdtMXxpvN5hBLac.jpg) no-repeat !important;
}

.image19 {
    background: url(https://i.loli.net/2019/10/23/Mx1OphadGBSEKV9.gif) no-repeat !important;
}

.image20 {
    background: url(https://i.loli.net/2019/10/25/JL1mTW5HAIPhRe7.gif) no-repeat !important;
}

.image21 {
    background: url(https://i.loli.net/2019/10/25/JL1mTW5HAIPhRe7.gif) no-repeat !important;
}

.image22 {
    background: url(https://i.loli.net/2019/10/21/DJTz3t4wdcargbL.png) no-repeat !important;
}

.image23 {
    background: url(https://i.loli.net/2019/10/21/DJTz3t4wdcargbL.png) no-repeat !important;
}

.image24 {
    background: url(https://i.loli.net/2019/10/21/DJTz3t4wdcargbL.png) no-repeat !important;
}

.image25 {
    background: url(https://i.loli.net/2019/10/21/DJTz3t4wdcargbL.png) no-repeat !important;
}

.image26 {
    background: url(https://i.loli.net/2019/10/21/DJTz3t4wdcargbL.png) no-repeat !important;
}

.image27 {
    background: url(https://i.loli.net/2019/10/21/DJTz3t4wdcargbL.png) no-repeat !important;
}

.image28 {
    background: url(https://i.loli.net/2019/10/21/DJTz3t4wdcargbL.png) no-repeat !important;
}

.image29 {
    background: url(https://i.loli.net/2019/10/24/VwaUOcrhoQN1DjH.gif) no-repeat !important;
}

.image30 {
    background: url(https://i.loli.net/2019/10/25/8Vp5waIKzHjDLY6.jpg) no-repeat !important;
}

.image31 {
    background: url(https://i.loli.net/2019/10/25/1Qpwvm6adsHRYUG.jpg) no-repeat !important;
}

.image32 {
    background: url(https://i.loli.net/2019/10/25/Aq3EntRV56psozK.jpg) no-repeat !important;
}

.image33 {
    background: url(https://i.loli.net/2019/10/21/qGOHlxK7ZpFfVIy.png) no-repeat !important;
}

.image34 {
    background: url(https://i.loli.net/2019/10/25/sCw7Amy5kIMXJlp.gif) no-repeat !important;
}

.image35 {
    background: url(https://i.loli.net/2019/10/21/S6KLlhngXoeGHOb.png) no-repeat !important;
}

.image36 {
    background: url(https://i.loli.net/2019/10/21/S6KLlhngXoeGHOb.png) no-repeat !important;
}

.image37 {
    background: url(https://i.loli.net/2019/10/25/nkYLi6b1oXqwuzR.jpg) no-repeat !important;
}

.image38 {
    background: url(https://i.loli.net/2019/10/21/FX71OetYs2BE9JG.png) no-repeat !important;
}

.image39 {
    background: url(https://i.loli.net/2019/10/21/FX71OetYs2BE9JG.png) no-repeat !important;
}

.image40 {
    background: url(https://i.loli.net/2019/10/25/JL1mTW5HAIPhRe7.gif) no-repeat !important;
}
