#float_asuna{
    font-size: 12px;
    position: absolute;
    font-color: #666;
    color: rgb(98, 98, 98);
    z-index: 999;
    left: 80%;
    top: -1000px;
    width: 85px;
    height: 152px;


}
#dialog_chat{
    left: -195px;
    line-height: 23px;
    position: absolute;
    text-align: left;
    top: -10px;
    width: 200px;
    /*border: 1px solid red;*/
    background-color: #ffffee;
    /*padding-left: 2px;*/

}
#chat_top{
    background: transparent no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 5px;
    overflow: hidden;
    width: 200px;
}
#chat_bottom {
    background: transparent no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 6px;
    width: 200px;
}
#dialog_chat_contents {
    border: 1px solid #f89471;
    width: 200px;
}
#tempsaying{
    /*border: 1px solid blue;*/
    /*width: 1%;*/
}
#food_list li{
    cursor: pointer;
    list-style: none;
    letter-spacing: 2px;
    display: none;
}
#showmenu{
    width: 100%;
    text-align: left;
    overflow: hidden;
}
#showmenu ul li{
    float: left;
    width:47%;
    list-style: none;
    cursor: pointer;
}
#getmenu {
    background: url("https://i.loli.net/2020/02/02/EbM9oziGwCd7qQ3.png") no-repeat scroll right top rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 16px;
    margin: 0;
    padding: 0;
    width: 95%;
}
#callasuna{
    position: fixed;
    cursor: pointer;
    top:100px;
    right:20px;
    text-align:center;
    display: none;
    color: #f89471;
    width: 80px;
    background-color: #ffffee;
    border: 2px solid #fca18b;
    border-radius: 3px;
}
